{% extends "layout.html" %}
{% block content %}
      <div class="hero text-center">
        <h1>Find State and Natinoal Parks in Your Area</h1>
      </div>
      <div class="container">
        <div class="row margin-top-50">
          <div class="col-md-2">
            <aside class="filters">
              <div class="panel panel-default">
                <div class="panel-body">
                  <form>
                    <div class="form-group">
                      <ul class="list-group" id="filters">
                        <li class="filter list-group-item">
                          <label for="date">Enter a State</label>
                          <input class="form-control" id="state-filter" type="text" placeholder="Utah">
                        </li>
                        <li class="filter list-group-item">
                          <label for="date">or</label>
                        <li class="filter list-group-item">
                          <label for="date">Enter a Distance</label>
                          <input class="form-control" id="distance-filter" type="text" placeholder="300">
                        </li>
                      </ul>
                    </div>
                    <button id="filter-btn" type="button" class="btn btn-default">Filter Parks</button>
                  </form>
                </div>
              </div>
            </aside>
          </div>
          <div class="col-md-10">
            <div class="container">              
              <table class="table table-dark table-striped" id="mytable"> 
                <thead> 
                  <tr> 
                    <th>Park Name</th> 
                    <th>State</th> 
                    <th>Park Type</th> 
                    <th>Distance(miles)</th>
                    <th>Duration(hours)</th>
            
                  </tr> 
                </thead> 
                <tbody> 
                {% for result in results %}
                  <tr>
                    <td>{{result.name}}</td>
                    <td>{{result.location}}</td>
                    <td>{{result.type}}</td>
                    <td>{{result.distance}}</td>
                    <td>{{result.duration}}</td>
                  </tr>
                {% endfor %}
                </tbody> 
              </table> 
            </div> 
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
    <script src="static/js/app.js"></script>
{% endblock content %}

